<toaster-container></toaster-container>

<div ng-include="'nav/_nav.html'"></div>

<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div ui-view></div>

<div class="footer">
  <div class="container">
    <p>&copy; 2015 Jennifer Spry &emsp;&#124;&emsp; <a ui-sref="impressum">Impressum</a></p>
  </div>
</div>