<view-title>Kurse</view-title>

<div class="row">
  <div class="col-md-12">
    <h3>Alle Kurse</h3>
    <table class="table table-striped table-hover table-bordered" ng-if="courses.length">
      <thead>
        <tr>
          <th>Nr.</th>
          <th>Name</th>
          <th>Autor</th>
          <th>Bearbeiten</th> 
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="course in courses | orderBy:'order'" class="animate-tr">
          <td class="col-sm-2">
            <div class="btn-group" role="group">
              <button ng-if="!$last" type="button" class="btn btn-default btn-sm" ng-click="moveCourseDown(course)">
                <span class="glyphicon glyphicon-triangle-bottom"></span>
              </button>
              <button ng-if="!$first" type="button" class="btn btn-default btn-sm" ng-click="moveCourseUp(course)" style="margin-right:8px">
                <span class="glyphicon glyphicon-triangle-top"></span>
              </button>
            </div>
            {{ $index + 1 }}) 
          </td>
          <td class="col-sm-4">{{ course.title }}</td>
          <td class="col-sm-3">{{ course.user.username }}</td>
          <td class="col-sm-3">
            <a ui-sref="admin.kurs({ courseid: course.id })"><button class="btn btn-primary" type="submit">Bearbeiten</button></a>
            <button class="btn btn-danger" type="submit" ng-click="deleteCourse(course)">Löschen</button>
          </td>
        </tr>
      </tbody>
    </table>
    <p ng-if="!courses.length">Es wurden keine Kurse gefunden</p>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h3 style="margin-bottom:15px;">Neuen Kurs erstellen</h3>
      <form class="form-horizontal" name="createCourseForm" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : createCourseForm.title.$invalid && !createCourseForm.title.$pristine }">
          <label for="InputCourseName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title" id="InputCourseName" placeholder="Kurs Name" ng-model="newCourse.title" required ng-model-options="{updateOn: 'default blur', debounce:{default: 500, blur: 0}}" ng-maxlength=100>
            <p ng-show="createCourseForm.title.$error.maxlength" class="help-block">Die maximale länge für Titel ist 100 Zeichen.</p>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : createCourseForm.imagename.$invalid && !createCourseForm.imagename.$pristine }">
          <label for="InputCourseImageFileName" class="col-sm-2 control-label">Bild Dateiname</label>
          <div class="col-sm-10">
            <input type="text" name="imagename" class="form-control" id="InputCourseImageFileName" placeholder="bild.jpg" ng-model="newCourse.image_name" valid-image-name ng-model-options="{updateOn: 'default blur', debounce:{default: 500, blur: 0}}">
            <p ng-show="createCourseForm.imagename.$error.image" class="help-block">Dies ist keine Bezeichnung für eine Bilddatei.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="InputCourseDescription" class="col-sm-2 control-label">Beschreibung</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="InputCourseDescription" rows="3" ng-model="newCourse.description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-disabled="createCourseForm.$invalid" class="btn btn-primary" ng-click="createCourse()">speichern</button>
          </div>
        </div> 
      </form>
    </div>
  </div>
</div>
