.add-margin-top-20 {
  margin-top: 20px;
}

.add-margin-bottom-20 {
  margin-bottom: 20px;
}

.add-margin-bottom-30 {
  margin-bottom: 30px;
}

.remove-margin-bottom {
  margin-bottom: 0;
}

.remove-margin-top {
  margin-top: 0;
}